*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font-default: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

html{
    font-size: 62.5%;
}

header{
    width: 100%;
    background-color: rgb(97, 95, 95);
    height: 6rem;
    min-width: 485px;
    position: fixed;
}

.nav_bar{
    width: 100%;
    height: 60rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contenedor-logo{
    width: 100%;
    height: 6rem;
    font-size: 5rem;
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.contenedor-logo a i{
    color: aliceblue;
    margin-top: auto;
    margin-bottom: auto;
}

.contenedor-logo a{
    text-decoration: none;
    font-size: 5rem;
    height: 6rem;
    width: 5rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.contenedor-nav{
    width: 100%;
}

.contenedor-nav ul{
    width: 100%;
    height: 6rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    font-size: 2.5rem;
    align-items: center;
}

.contenedor-nav ul li:hover{
    background-color: rgb(63, 63, 63);
}

.contenedor-nav ul li{
    list-style: none;
    height: 6rem;
    display: flex;
    align-content: center;
}

.contenedor-nav ul li a{
    text-decoration: none;
    color: white;
    width: 100%;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}

main{
    width: 100%;
    background-color: #80254f;
    display: flex;
    min-width: 485px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    color: whitesmoke;
    font-size: 4rem;
    font-family: var(--font-default);
    margin-left: auto;
    margin-right: auto;
}


.title-sec{
    font-size: 3rem;
    font-family: var(--font-default);
    color: white;
}

.sec-1{
    margin-top: 5rem;
}

h3{
    color: whitesmoke;
    font-size: 2rem;
}

.sec-default{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    width: 70%;
    justify-content: center;
    text-align: center;
    font-family: var(--font-default);
}

.img{
    height: 20rem;
}

.parrafo{
    color: whitesmoke;
    font-size: 2rem;
}

@media only screen and (max-width: 1024px){
    
    .nav_bar{
        grid-template-columns: 1fr 1fr 1fr;
    }

    .contenedor-nav{
        grid-column-start: 2;
        grid-column-end: 4;
    }

}

@media only screen and (max-width: 683px){
    
    .nav_bar{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .contenedor-nav{
        grid-column-start: 2;
        grid-column-end: 5;
    }

    .contenedor-nav ul li{
        font-size: 2rem;
    }

}

@media only screen and (max-width: 545px){
    
    .nav_bar{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }

    .contenedor-nav{
        grid-column-start: 2;
        grid-column-end: 6;
    }

    .contenedor-nav ul li{
        font-size: 2rem;
    }

}